GameStore.Api.csproj
GameStore.Api.dll
GameStore.Api.exe
GameStore.Api.pdb
GameStore.Api.csproj.nuget.g.props
GameStore.Api.csproj.nuget.g.targets
project.nuget.cache
GameStore.Api.AssemblyInfo.cs
GameStore.Api.AssemblyInfoInputs.cache
GameStore.Api.GeneratedMSBuildEditorConfig.editorconfig
GameStore.Api.GlobalUsings.g.cs
GameStore.Api.MvcApplicationPartsAssemblyInfo.cache
GameStore.Api.assets.cache
GameStore.Api.csproj.CoreCompileInputs.cache
GameStore.Api.csproj.FileListAbsolute.txt
GameStore.Api.genruntimeconfig.cache
apphost.exe
rjsmcshtml.dswa.cache.json
rjsmrazor.dswa.cache.json
rpswa.dswa.cache.json
staticwebassets.build.endpoints.json
staticwebassets.build.json
staticwebassets.build.json.cache
swae.build.ex.cache
obj/Debug/net10.0/GameStore.Api.dll
obj/Debug/net10.0/GameStore.Api.pdb
obj/Debug/net10.0/*